In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [9]:
df = pd.read_csv('/home/jupyter/charliemacuject/pharma_reports/data/eric_mayer.csv')
#df.rename(columns={'File #': 'id'}, inplace=True)
new_df = id_cleaner(df)
#new_df.drop(columns=['Unnamed: 0', 'Unnamed: 0.1'], inplace = True)
ndf = time_sort(new_df)
#ndf.to_csv('/home/jupyter/charliemacuject/pharma_reports/data/DME/brendanvote.csv')

AttributeError: 'DataFrame' object has no attribute 'CreatedDate'

In [8]:
new_df.head()

,Unnamed: 0,Unnamed: 0.1,id,admission_date,DoctorName,visual_acuity,Drug,InjNext,NextInt,Laterality,Interval
0,286,1393,1,2019-08-10,Dr. Eric Mayer,89.0,NaN,NaN,NaN,Right,0.0
1,287,1394,1,2019-08-10,Dr. Eric Mayer,NaN,Lucentis,Lucentis,4.0,Right,0.0
2,288,1395,1,2019-10-29,Dr. Eric Mayer,85.0,Lucentis,Lucentis,4.0,Right,11.0
3,289,1396,1,2019-11-26,Dr. Eric Mayer,85.0,Lucentis,Lucentis,6.0,Right,4.0
4,290,1397,1,2020-01-14,Dr. Eric Mayer,85.0,Lucentis,Lucentis,7.0,Right,7.0

In [73]:
ndf['visual_acuity'].isna().sum()

1973

In [5]:
def id_cleaner(df):
    id_list = df.id.unique()
    frames = []
    i = 0
    for eye in id_list:
        pdf = df[df.id == eye]
        pdf_left = pdf[pdf.Laterality == 'Left']
        pdf_right = pdf[pdf.Laterality == 'Right']
        pdf_left.id = i
        pdf_right.id = i + 1
        i += 2
        if len(pdf_left) != 0:
            frames.append(pdf_left)
        if len(pdf_right) != 0:
            frames.append(pdf_right)
    return pd.concat(frames)

In [6]:
def time_sort(df):
    id_list = df.id.unique()
    frames = []
    for eye in id_list:
        pdf = df[df.id == eye]
        pdf.CreatedDate = pd.to_datetime(pdf.CreatedDate, dayfirst=True)
        pdf.sort_values(by='CreatedDate', inplace=True)
        frames.append(pdf)
    return pd.concat(frames)

In [10]:
#ndf = time_sort(df)
new_df.to_csv('/home/jupyter/charliemacuject/pharma_reports/data/eric_mayer.csv')

In [69]:
df = pd.read_csv('/home/jupyter/charliemacuject/pharma_reports/data/DME/brendanvoteOLD.csv')
df.rename(columns={'Appointment Type': 'type', 'Appoinment Date': 'CreatedDate', 
                   'VA': 'visual_acuity'}, inplace=True)
len(df)

3638

In [56]:
df['visual_acuity'].isna().sum()

1973

In [65]:
df.type.unique()

array(['1    ', 'LUCEN', 'IVT  ', 'IVTR ', '2', 'LSR  ', 'EME  ', 'EYLEA',
       'AMD  ', 'Oper ', 'po1  ', 'por  ', '2REV ', 'CP   ', 'AMDR ',
       'BIO', 'poc  ', 'LOC  ', 'catrv', 'IU', 'PO1P ', 'POCP ', 'PREO ',
       'FFA  ', 'FFA2 ', 'AUSS ', 'po   ', 'AVAST', 'DNA'], dtype=object)

In [70]:
# create a list of our conditions
conditions = [
    (df['type'] == 'LUCEN'),
    (df['type'] == 'EYLEA'),
    (df['type'] == 'AVAST'),
    (df['type'] == 'IVT  '),
    (df['type'] == 'IVTR '),
    (df['type'] == 'TRI'),
    ]

# create a list of the values we want to assign for each condition
values = ['Lucentis', 'Eylea', 'Avastin', 'IVTA', 'IVTA', 'Triesence']

# create a new column and use np.select to assign values to it using our lists as arguments
df['Drug'] = np.select(conditions, values)

# display updated DataFrame
# df = df[df.Drug != '0']
len(df)

3638

In [71]:
df.head()

,File #,type,CreatedDate,IDDM/NIDDM,visual_acuity,Drug,Laterality,Diagnosis Date?
0,46186,1,20/04/2017,IDDM,70.0,0,Right,20/04/2017
1,46186,LUCEN,20/04/2017,IDDM,70.0,Lucentis,Right,20/04/2017
2,46186,LUCEN,18/05/2017,IDDM,NaN,Lucentis,Right,20/04/2017
3,46186,IVT,08/06/2017,IDDM,70.0,IVTA,Right,20/04/2017
4,46186,IVT,10/08/2017,IDDM,74.8,IVTA,Right,20/04/2017

In [54]:
df['visual_acuity'].isna().sum()

1973

In [33]:
df.columns

Index(['File #', 'Appointment Type', 'Appoinment Date', 'IDDM/NIDDM', 'VA',
       'Drug', 'Laterality', 'Diagnosis Date?'],
      dtype='object')

In [30]:
df.rename(columns={VA': 'visual_acuity'}, inplace=True)
df.head()

,Unnamed: 0,Unnamed: 0.1,id,type,CreatedDate,IDDM/NIDDM,visual_acuity,old_drug,Laterality,Diagnosis Date?,bookingid,Location,Procedure Laterality,Comments,Drug
0,1,3249,0,LUCEN,2017-04-20,IDDM,74.8,NaN,Left,29/10/2019,634534.0,Launceston Eye Institute ULVERSTONE,NaN,NaN,Lucentis
1,2,3250,0,LUCEN,2017-05-18,IDDM,NaN,NaN,Left,29/10/2019,634552.0,Launceston Eye Institute ULVERSTONE,NaN,NaN,Lucentis
2,14,3262,0,LUCEN,2020-02-13,IDDM,70.0,Lucentis,Left,29/10/2019,834712.0,Launceston Eye Institute ULVERSTONE,Left,NaN,Lucentis
3,15,3263,0,LUCEN,2020-03-23,IDDM,NaN,Lucentis,Left,29/10/2019,842479.0,Launceston Eye Institute ULVERSTONE,Left,NaN,Lucentis
4,19,3267,0,EYLEA,2020-10-15,IDDM,70.0,Eylea,Left,29/10/2019,896354.0,Launceston Eye Institute ULVERSTONE,Left,NaN,Eylea

In [31]:
df.to_csv('/home/jupyter/charliemacuject/pharma_reports/data/DME/brendanvote.csv')